@import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@400;500;700&display=swap");
ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

hr {
  background: #c8c8c8;
  color: #c8c8c8;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  position: relative;
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e7e7e7;
  font-family: "Commissioner", sans-serif;
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: black;
}

h1 {
  font-size: 1.8rem;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 30px;
}

h2 {
  font-size: 2.7rem;
  font-weight: 700;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}

h3 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 20px;
}

h4 {
  font-size: 1.3rem;
  margin-bottom: 10px;
}

h5 {
  font-size: 1.3rem;
  color: #3cb4ac;
  font-weight: 500;
}

h6 {
  font-size: 1.1rem;
  color: #7a7a7a;
}

p,
span {
  color: #7a7a7a;
  font-size: 16px;
  padding: 20px 0;
  line-height: 1.6;
}

.section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 90%;
  background-color: #fff;
  padding: 40px 20px;
  border-radius: 10px;
  margin: 30px 0;
}

@media screen and (min-width: 870px) {
  .section {
    width: 85%;
    max-width: 1000px;
  }
}

#section-title {
  display: none;
}

.btn {
  background: #3cb4ac;
  color: white;
  padding: 20px 40px;
  border-radius: 40px;
  border: none;
  font-size: 16px;
  outline: none;
  cursor: pointer;
}

.btn:hover {
  background: #147b74;
}

.bg {
  display: none;
  background: rgba(12, 12, 12, 0.561);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 100;
  overflow: hidden;
}

input[type="range"] {
  appearance: none;
  width: 70%;
}

@media screen and (min-width: 870px) {
  input[type="range"] {
    width: 85%;
  }
}

input[type="range"]::-moz-range-track,
input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 1.2em;
  cursor: pointer;
  border-radius: 20px;
  background: #e4e4e4;
  overflow: hidden;
  outline: none;
}

input[type="range"]::-moz-range-progress {
  background: #3cb4ac;
  border-radius: 20px;
  height: 100%;
}

input[type="range"]::-moz-range-thumb {
  appearance: none;
  display: none;
  background: #3cb4ac;
  border: none;
  outline: none;
  height: 100%;
}

/*************
header
************/
.header {
  background: url(/images/image-hero-desktop.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  height: 50vh;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 80%;
  padding: 30px 0;
  position: relative;
  z-index: 101;
}

.header nav .menu {
  display: none;
  position: absolute;
  top: 70px;
  background: #fff;
  width: 100%;
  border-radius: 10px;
}

@media screen and (min-width: 870px) {
  .header nav .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    position: relative;
    top: 0;
    width: 30%;
    background: none;
  }
}

.header nav .menu li {
  padding: 20px 10px;
  border-bottom: 1px solid #c8c8c8;
}

@media screen and (min-width: 870px) {
  .header nav .menu li {
    border: none;
  }
}

.header nav .menu li a {
  color: black;
  font-size: 1.3rem;
  text-transform: capitalize;
}

@media screen and (min-width: 870px) {
  .header nav .menu li a {
    color: #fff;
  }
  .header nav .menu li a:hover {
    color: #dad8d8;
  }
}

.header nav .menu li:last-child {
  border-bottom: none;
}

.header nav .show {
  display: block;
}

.header nav #hamburger {
  cursor: pointer;
}

@media screen and (min-width: 870px) {
  .header nav #hamburger {
    display: none;
  }
}

.mastercraft {
  margin-top: -80px;
  padding: 40px 20px;
}

.mastercraft .logo {
  margin-top: -70px;
  margin-bottom: 20px;
}

.mastercraft p {
  text-align: center;
  padding-bottom: 40px;
}

.mastercraft .buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 100%;
}

@media screen and (min-width: 870px) {
  .mastercraft .buttons {
    width: 85%;
  }
}

.mastercraft .buttons .bookmark {
  visibility: hidden;
  filter: grayscale(100%);
  position: relative;
  font-weight: 700;
}

@media screen and (min-width: 870px) {
  .mastercraft .buttons .bookmark {
    visibility: visible;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: #f0f0f0;
    color: #147b74;
    padding: 0 40px 0 0;
    border-radius: 40px;
  }
}

.mastercraft .buttons .bookmark img {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  margin-right: 15px;
  visibility: visible;
}

@media screen and (min-width: 870px) {
  .mastercraft .buttons .bookmark img {
    position: relative;
    right: unset;
    top: unset;
    transform: translateY(0);
  }
}

.mastercraft .buttons .active-bokmark {
  filter: none;
}

.numbers {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

@media screen and (min-width: 870px) {
  .numbers {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 85%;
  }
}

.numbers article p {
  letter-spacing: 2px;
}

.numbers article h2 {
  margin-bottom: 0;
}

.numbers .line {
  width: 100px;
  height: 1px;
  background: #7a7a7a;
  margin-bottom: 30px;
}

@media screen and (min-width: 870px) {
  .numbers .line {
    width: 1px;
    height: 80px;
    margin: 0px 30px;
  }
}

@media screen and (min-width: 870px) {
  .about p {
    width: 85%;
  }
}

.about .pricing {
  margin: 20px 0;
  border: 1px solid #c8c8c8;
  border-radius: 10px;
  padding: 20px;
  position: relative;
}

.about .pricing h2 {
  margin-bottom: 20px;
}

.about .pricing h2 span {
  margin-left: 20px;
  font-weight: 400;
}

@media screen and (min-width: 870px) {
  .about .pricing {
    width: 85%;
  }
}

@media screen and (min-width: 870px) {
  .about .pricing h5 {
    position: absolute;
    right: 20px;
    top: 20px;
  }
}

@media screen and (min-width: 870px) {
  .about .pricing .select {
    display: inline-block;
    position: absolute;
    right: 20px;
    bottom: 40px;
  }
}

.zero-stock {
  opacity: 0.4;
}

.zero-stock .btn {
  background: #7a7a7a;
}

@media screen and (min-width: 870px) {
  .zero-stock .btn {
    display: inline-block;
    position: absolute;
    right: 20px;
    bottom: 40px;
  }
}

.modal {
  background-color: rgba(12, 12, 12, 0.561);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: none;
  position: absolute;
  top: 0;
  z-index: 103;
}

.modal .packages {
  transform: translateY(-40%);
}

.modal .packages h2 {
  visibility: hidden;
}

@media screen and (min-width: 870px) {
  .modal .packages__title {
    width: 85%;
  }
}

.modal .packages__title div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.modal .packages__title div h3 {
  margin: initial;
}

.modal .packages__title div img {
  cursor: pointer;
}

.modal .packages .package {
  border: 1px solid #c8c8c8;
  border-radius: 10px;
  padding: 20px;
  margin: 20px 0;
  position: relative;
}

@media screen and (min-width: 870px) {
  .modal .packages .package {
    width: 85%;
  }
}

.modal .packages .package__title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  cursor: pointer;
}

.modal .packages .package__title hgroup {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}

.modal .packages .package__title hgroup h4 {
  margin-right: 20px;
}

.modal .packages .package__title h4 {
  margin-bottom: initial;
}

.modal .packages .package__title input[type="radio"] {
  background: #3cb4ac;
}

.modal .packages .package__title .o {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  border: 1px solid #c8c8c8;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin-right: 20px;
}

.modal .packages .package__title .o .check {
  border-radius: 50%;
  background: #3cb4ac;
  width: 20px;
  height: 20px;
  margin: 1px;
}

.modal .packages .package h2 {
  font-size: 1.5rem;
}

.modal .packages .package h2 span {
  margin-left: 20px;
}

@media screen and (min-width: 870px) {
  .modal .packages .package h2 {
    position: absolute;
    top: 8px;
    right: 30px;
  }
}

.modal .packages .package__pricing {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px 0;
  display: none;
  border-top: 1px solid #c8c8c8;
}

@media screen and (min-width: 870px) {
  .modal .packages .package__pricing {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    display: none;
  }
}

.modal .packages .package__pricing .cta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 20px 0;
}

.modal .packages .package__pricing .cta input[type="number"] {
  padding: 20px 10px;
  border-radius: 40px;
  font-size: 16px;
  border: 1px solid #c8c8c8;
  width: 45%;
  -webkit-appearance: none;
  -moz-appearance: textfield;
  outline: none;
}

.modal .packages .package__pricing .cta input[type="button"] {
  padding: 20px 30px;
}

.modal .packages .package .show {
  display: flex;
}

.modal .packages .active {
  border: 2px solid #3cb4ac;
}

.success-modal {
  display: none;
  position: absolute;
  top: 100px;
  z-index: 105;
}

.success-modal img {
  padding: 20px 0;
}

@media screen and (min-width: 870px) {
  .success-modal {
    width: 400px;
    top: 200px;
  }
}

.show {
  display: flex;
}
/*# sourceMappingURL=style.css.map */