.mastercraft {
    margin-top: -80px;
    padding: 40px 20px;
    .logo {
      margin-top: -70px;
      margin-bottom: 20px;
    }
    p {
      text-align: center;
      padding-bottom: 40px;
    }
  
    .buttons {
      @include flex(space-between, center, row);
      width: 100%;
      @include medium {
        width: 85%;
      }
      .bookmark {
        visibility: hidden;
        filter: grayscale(100%);
        position: relative;
        font-weight: 700;
        @include medium {
          visibility: visible;
          @include flex(center, center, row);
          background-color: rgb(240, 240, 240);
          color: $DarkCyan;
          padding: 0 40px 0 0;
          border-radius: 40px;
        }
        img {
          position: absolute;
          right: 0;
          top: 50%;
          transform: translateY(-50%);
          margin-right: 15px;
          visibility: visible;
          @include medium {
            position: relative;
            right: unset;
            top: unset;
            transform: translateY(0);
          }
        }
      }
      .active-bokmark {
        filter: none;
      }
    }
  }
  